<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>We have found the following hotspots for you:</h1>

  <div>
    {% for entry in entries %}
    <div>{{entry}}</div>
    {% endfor %}
  </div>

<p><a href="/">Back</a></p>

</body>


</html>

